* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  max-width: 900px;
  margin: 0 auto;
}

@font-face {
  font-family: "Castoro";
  src: url(../public/fonts/Castoro-Regular.ttf);
}
@font-face {
  font-family: "Assistant";
  src: url(../public/fonts/Assistant-VariableFont_wght.ttf);
}
.heading-section {
  background-image: url("../public/backgrounds/annie-spratt-6a3nqQ1YwBw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-section .heading-section-image {
  width: 100%;
  min-height: 200px;
  background-image: url(../public/backgrounds/buildings.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-section .profile-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -3rem;
}
.heading-section .profile-wrapper .profile-image {
  width: 35%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #eef4ff;
}
.heading-section .header-wrapper {
  text-align: center;
  direction: rtl;
  padding: 2rem 0;
}
.heading-section .header-wrapper h1 {
  font-size: 2rem;
}
.heading-section .header-wrapper h1,
.heading-section .header-wrapper h2 {
  color: white;
  font-family: "Castoro", Sans-serif;
}
.heading-section .buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
.heading-section .buttons-wrapper .buttons-with-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Assistant", Sans-serif;
  font-size: 1.5rem;
  color: white;
  transition: color 0.1s ease-in-out;
}
.heading-section .buttons-wrapper .buttons-with-text:hover {
  color: #b7a769;
}
.heading-section .buttons-wrapper .buttons-with-text .buttons-frame {
  min-width: 100px;
  min-height: 100px;
  height: auto;
  border-radius: 50%;
  border: solid 3px #b7a769;
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-section .buttons-wrapper .buttons-with-text .buttons-frame a {
  color: #b7a769;
  text-decoration: none;
}
.heading-section .buttons-wrapper .buttons-with-text .buttons-frame a svg {
  width: 50px;
  height: auto;
}
.heading-section .bold-action-button {
  width: 55%;
  height: 55px;
  margin-bottom: 2rem;
  font-family: "Assistant", Sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 20px;
  background-color: #b7a769;
  border: solid #b7a769;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #b7a769;
  }
  25% {
    box-shadow: 0px 0px 5px 0px #b7a769;
  }
  50% {
    box-shadow: 0px 0px 17px 0px #b7a769;
  }
  75% {
    box-shadow: 0px 0px 5px 0px #b7a769;
  }
  0% {
    box-shadow: 0px 0px 0px 0px #b7a769;
  }
}
.heading-section a {
  text-decoration: none;
  color: white;
}

.about-section {
  background: url("../public/backgrounds/diagnal-background.jpg");
}
.about-section .about-text-wrapper {
  padding: 0 2.2rem;
  padding-bottom: 2rem;
}
.about-section .about-text-wrapper h3 {
  font-family: "Castoro", Sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
  display: block;
  padding: 2rem;
}
.about-section .about-text-wrapper p {
  font-family: "Assistant", Sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
}
.about-section .about-text-wrapper p:nth-child(-n+3) {
  margin-bottom: 1rem;
}
.about-section .about-content-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.about-section .about-content-wrapper iframe {
  width: 70%;
  height: auto;
  box-shadow: 1px 1px 10px 1px black;
}
.about-section .info-accordions {
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 3rem;
  color: white;
}
.about-section .info-accordions .accordion {
  max-width: 500px;
  margin: 1.2rem auto;
  padding: 1rem;
  color: #b7a769;
  overflow: hidden;
  box-shadow: 0px 0px 6px 2px #b7a769;
}
.about-section .info-accordions .accordion input {
  display: none;
}
.about-section .info-accordions .accordion label {
  display: block;
  position: relative;
  cursor: pointer;
  font-family: "Assistant", Sans-serif;
  font-size: 1.3rem;
}
.about-section .info-accordions .accordion label::after {
  position: absolute;
  left: 10px;
  content: " +";
  font-weight: bold;
}
.about-section .info-accordions .accordion-content-box {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  color: white;
}
.about-section .info-accordions .accordion-content-box .accordion-content {
  padding: 1rem;
  font-family: "Assistant", Sans-serif;
}
.about-section .info-accordions .accordion-content-box .accordion-content .marker-dot {
  list-style-position: inside;
  list-style-type: none;
  margin-top: 0.8rem;
  font-weight: bold;
}
.about-section .info-accordions .accordion-content-box .accordion-content .marker-dot .marker-circle {
  list-style-type: circle;
  margin: 0.5rem 0;
  font-weight: normal;
}
.about-section .info-accordions input:checked ~ .accordion-content-box {
  max-height: 800px;
}
.about-section .info-accordions input:checked ~ label::after {
  content: "-";
}
.about-section .emphasized-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Assistant", Sans-serif;
  color: white;
}
.about-section .emphasized-feature .emphasized-heading {
  text-align: center;
}
.about-section .emphasized-feature .emphasized-heading p {
  font-size: 1.5rem;
}
.about-section .emphasized-feature .emphasized-heading p span {
  font-size: 3rem;
  color: #b7a769;
}
.about-section .emphasized-icon {
  display: flex;
  justify-content: center;
}
.about-section .emphasized-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
@keyframes text-transform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
  0% {
    transform: scale(1);
  }
}
.about-section .emphasized-text span {
  color: #b7a769;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-self: center;
  animation: text-transform 1s alternate infinite;
}

.gallery-section {
  background-image: url(../public/backgrounds/white-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery-section .gallery-heading-wrapper {
  text-align: center;
  padding: 2rem 0;
}
.gallery-section .gallery-heading-wrapper h3 {
  font-family: "Assistant", Sans-serif;
  font-size: 2rem;
  color: gray;
}
.gallery-section .gallery-heading-wrapper hr {
  border: 1px solid #b7a769;
  justify-self: center;
  width: 35%;
}
.gallery-section .gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 5rem;
  gap: 0.9rem;
}
.gallery-section .gallery-wrapper .gallery-item {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 2px 1px gray;
  cursor: pointer;
}
@keyframes gallery-effect {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.01) translateY(-2%);
  }
}
.gallery-section .gallery-wrapper .gallery-item.gallery-item:hover {
  animation: gallery-effect 500ms ease forwards;
}
.gallery-section .gallery-wrapper .gallery-item img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-section .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.459);
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}
.gallery-section .modal.show {
  display: flex;
  opacity: 1;
}
.gallery-section .modal .modal-content {
  max-width: 90%;
  max-height: 90%;
  opacity: 1;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
.gallery-section .modal .modal.show .modal-content {
  opacity: 1;
  transform: scale(1);
}
.gallery-section .modal .close-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.gallery-section .modal .close-modal:hover {
  color: black;
}
.gallery-section .modal .modal-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.gallery-section .modal .modal-nav button {
  border: none;
  font-size: 3rem;
  background: transparent;
  color: white;
  cursor: pointer;
}
.gallery-section .modal .modal-nav button:hover {
  color: black;
}

.bottom-section {
  background-image: url(../public/backgrounds/diagnal-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-section .reviews-container .reviews-heading {
  text-align: center;
  padding: 3rem 0;
}
.bottom-section .reviews-container .reviews-heading h3 {
  font-family: "Castoro", Sans-serif;
  font-size: 2rem;
  color: white;
}
.bottom-section .reviews-container .reviews-heading hr {
  border: 1px solid #b7a769;
  justify-self: center;
  width: 35%;
}
.bottom-section .reviews-container .reviews-slidshow {
  position: relative;
  font-family: "Assistant", Sans-serif;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
.bottom-section .reviews-container .reviews-slidshow .slides p:first-child {
  font-size: 1.5rem;
}
.bottom-section .reviews-container .reviews-slidshow .slides p:last-child {
  color: #b7a769;
  font-size: 1.3rem;
  padding: 1rem 0;
}
.bottom-section .reviews-container .reviews-slidshow .slideshow-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-section .reviews-container .reviews-slidshow .slideshow-nav button {
  font-size: 3rem;
  border: none;
  background: none;
  color: white;
}/*# sourceMappingURL=main.css.map */