.bottom-section {
  background-image: url(../public/backgrounds/diagnal-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .reviews-container {
    padding-bottom: 3rem;
    .reviews-heading {
      text-align: center;
      padding: 3rem 0;
      h3 {
        font-family: $headers-font;
        font-size: 2rem;
        color: white;
      }
      hr {
        border: 1px solid $main-color;
        justify-self: center;
        width: 35%;
      }
    }

    .reviews-slidshow {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-family: $body-font;
      color: white;
      text-align: center;

      .slides.active-slide {
        display: block;
        min-height: 110px;
      }

      .slides {
        display: none;

        p:first-child {
          font-size: clamp(1.1rem, 4vw, 1.5rem);
        }
        p:last-child {
          color: $main-color;
          font-size: clamp(1.1rem, 4vw, 1.5rem);
          padding: 1rem 0;
        }
      }
      button {
        font-size: 3rem;
        border: none;
        background: none;
        padding: 0 0.8rem;
        color: white;
        cursor: pointer;
      }
    }
    .slide-dots {
      display: flex;
      justify-content: center;
      gap: 3px;

      .slide-dot.active-dot {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
      }
      .slide-dot {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 50%;
      }
    }
  }

  .action-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    // .action-buttons-heading {
    //   text-align: center;
    //   padding: 3rem 0;
    //   h3 {
    //     font-family: $headers-font;
    //     font-size: 2rem;
    //     color: white;
    //   }
    //   hr {
    //     border: 1px solid $main-color;
    //     justify-self: center;
    //     width: 35%;
    //   }
    // }

    .main-button-wrapper {
      .bold-action-button {
        display: block;
        width: 55%;
        height: clamp(100px, 60%, 60px);
        margin: 0 auto;
        margin-bottom: 2rem;

        font-family: $body-font;
        font-weight: bold;
        font-size: 1.5rem;

        border-radius: 20px;
        border: solid #b7a769;

        background-color: #b7a769;

        @keyframes pulse {
          0% {
            box-shadow: 0px 0px 0px 0px #b7a769;
          }
          25% {
            box-shadow: 0px 0px 5px 0px #b7a769;
          }
          50% {
            box-shadow: 0px 0px 17px 0px #b7a769;
          }
          75% {
            box-shadow: 0px 0px 5px 0px #b7a769;
          }
          0% {
            box-shadow: 0px 0px 0px 0px #b7a769;
          }
        }

        animation: pulse 2s ease-in-out infinite;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }

    .buttons-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2.8rem;
      padding-bottom: 3rem;

      .buttons-with-text {
        display: flex;
        flex-direction: column;

        text-align: center;
        font-family: $body-font;
        font-size: 1.5rem;
        color: white;

        transition: text-shadow 0.1s ease-in-out;

        &:hover {
          text-shadow: #ffffff 1px 0px 12px;
        }

        a {
          svg {
            width: 70px;
            height: auto;
            transition: all 200ms ease-in-out;
          }
        }

        a#whatsapp {
          color: #68ff54;
          svg:hover {
            transform: scale(1.1);
            color: white;
          }
        }
        a#phone {
          color: #546eff;
          svg:hover {
            transform: scale(1.1);
            color: white;
          }
        }
        a#waze {
          color: #4af0fc;
          svg:hover {
            transform: scale(1.1);
            color: white;
          }
        }
      }
    }
  }
  .contact-form-container {
    color: white;

    .contact-heading-wrapper {
      text-align: center;
      padding: 3rem 0;
      h3 {
        font-family: $headers-font;
        font-size: 2rem;
        color: white;
      }
      hr {
        border: 1px solid $main-color;
        justify-self: center;
        width: 35%;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      input {
        width: 55%;
        height: 60px;
        padding: 10px;
        border: 2px solid $main-color;
        border-radius: 10px;

        font-size: 1.2rem;
        font-family: $body-font;
        color: #ffffff;
        text-align: right;
        background-color: transparent;
      }
    }
    button {
      width: 55%;
      height: 60px;
      margin-bottom: 2rem;

      color: white;
      font-family: $body-font;
      font-size: 1.4rem;
      background-color: $main-color;
      border: none;
      border-radius: 10px;
      transition: all 200ms ease-in-out;
      &:hover {
        border: solid 2px #b7a769;
        color: $main-color;
        font-size: 1.5rem;
        background-color: transparent;
      }
    }
  }
}
